body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "DejaVu Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    align-self: center;
}
.colored-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #24313d;
    width: 100vw;
}
.custom-nav ul {
    background-color: #24313d;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 850px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.custom-nav ul li {
    flex: 2;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #1f2327;
}
.custom-nav ul li:nth-child(1) { border-top: 3px solid rgb(0, 98, 255); 
    background: linear-gradient(to bottom, #24313d, rgb(54, 52, 52));}
.custom-nav ul li:nth-child(2) { border-top: 3px solid grey; }
.custom-nav ul li:nth-child(3) { border-top: 3px solid rgb(234, 234, 28); }
.custom-nav ul li:nth-child(4) { border-top: 3px solid green; }
.custom-nav ul li:nth-child(5) { border-top: 3px solid purple; }
.custom-nav ul li:nth-child(6) { border-top: 3px solid brown; }

.custom-nav ul li a {
    color: 	rgb(176,186,194);
    text-decoration: none;
    font-size: 13px;
    display: block;
    width: 100%;
}

header {
    background-color:rgb(42,90,130);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.py{
    filter: invert(1);
    mix-blend-mode: screen;
    background-color:rgb(116, 155, 187);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgb(42,90,130);
    width: 800px;
}
.space{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
    background-color: rgb(42,90,130);
    padding: 10px;
    border-radius: 5px;
}
.search-bar img {
    height: 80px;
    width: 200px;
    height: auto;
}
input[type="text"] {
    padding: 10px;
    height: 10px;
    width: 200px;
    background-color: white;
    color: black;
}
.donate-button, .go-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.donate-button {
    margin: 10px;
    height: 35px;
    background-color: rgb(254,218,101);
    background-image: linear-gradient(#ffdf76 10%,rgb(254,218,101) 90%);
    color: black;
}
.donate-button:hover{
    margin: 10px;
    height: 35px;
    background-color: #eebb15;
    color: black;
}
.go-button {
    background-color: #1f4c73;
    color: white;
}
.search-table{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #24313d;
    padding: 10px;
    border-radius: 5px;
}
.part1 {
    display: flex;
    gap: 5px;
}

.socialize-tab {
    color: gray;
    text-align: center;
    padding: 5px;
    border-left: 1px solid gray;
    position: relative;
    display: inline-block;
}
.socialize-tab ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.socialize-tab ul ul {
    display: none;
    position: absolute;
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
    left: -30px;
    top: 30px;
    z-index: 100;
}
.socialize-tab:hover ul ul {
    display: block;
    font-size: 14px; 
    background-color: rgb(191, 187, 187);
}
.socialize-tab a {
    color: rgb(184, 177, 177);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-weight: 200;
}
.action-trigger {
    color: rgb(221, 206, 206);
    font-size: 14px; 
    font-family: "DejaVu Sans", sans-serif; 
    text-decoration: none;
}
.action-trigger:hover {
    background-color: rgb(150, 145, 145);
}

.main-menu {
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(51, 122, 180);
    height: 50px;
    width: 800px;
    font-family: "DejaVu Sans", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-weight: 370;
}

.main-menu > li {
    border-radius: 5px;
    background: radial-gradient(circle, rgb(54, 109, 155),#2b6ea9);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px; 
    height: 100%;
    box-shadow: inset -1px 0 #0f5995;
}

.main-menu > li > a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 5px;
}

.main-menu li:hover {
    background-color: #062f52;
}

.main-menu li ul {
    display: none;
    position: absolute;
    top:100%;
    left:0;
    background-color: #306998;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 180px;
    list-style: none;
}

.main-menu li:hover > ul {
    display: block;
}

.main-menu li ul li {
    padding: 8px 10px;
    text-align: left;
    list-style: none;
}

@media (max-width: 850px) {
    .main-menu {
        flex-wrap: wrap;
        justify-content: center;
        height: 50px;
        width: 800px;
        
    }

    .main-menu > li {
        flex: 1 1 17%;
        text-align: center;
        border-right: 1px solid #105d9b;
    }

}

.code-zone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    height: 250px;
    margin: auto;
    font-family: "DejaVu Sans", sans-serif;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
#start-shell-button{
    display: inline;
    background-color: #ffd343;
    background-image: linear-gradient(#ffdf76 10%,#ffd343 90%);
    border: 1px solid #dca900;
    font-size: 100%;
    height: 40px;
    width: 40px;
    margin-left: auto;
}

.code, .block {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.code {
    background-color: rgb(30,41,51);
    color: #e6e6e6;
    font-family: monospace;
    font-weight: 350;
}

.code pre {
    color: #0a9c0a;
    font-family: "DejaVu Sans", sans-serif;
    font-weight: 100;
}

.code h5 {
    color: grey;
    margin-bottom: 10px;
    font-family: "DejaVu Sans", sans-serif;
    font-weight: 350;
}

.block {
    font-family: "DejaVu Sans", sans-serif;
    background-color: rgb(29,59,86);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

article {
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
}

h3 {
    color: #eace74;
}

#theLink {
    color: #eace74;
    text-decoration: underline;
}

.menu-button{
    background-color:#105d9b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: rgb(198, 185, 185);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.menu-button:hover{
    background-color:rgb(68, 111, 180);
    color: white;
}

.hero {
    font-family: "DejaVu Sans", sans-serif;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: 	rgb(186, 199, 209);
    max-width: 550px;
    font-weight: 350;
}
.hero p {
    font-size: 20px;
    margin-top: 10px;
}
.cta {
    background-color:  rgb(255,223,118);
    height: 30px;
    width: 750px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    gap: 20px;
    padding: 13px;
    margin-top: -20px;
    border-radius: 10px;
    color:rgb(92, 91, 91);
    font-family: "DejaVu Sans", sans-serif;
}
.cta p{
    padding-left: 30px;
}
.register-button {
    background-color: rgb(202,202,202); 
    color: rgb(84, 84, 84); 
    border: 1px solid rgb(0, 78, 147); 
    border-radius: 5px; 
    font-size: 13px; 
    font-weight: 300;
    cursor: pointer; 
}

.register-button:hover {
    background-color: rgb(209, 205, 205);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0; 
    margin: 0;
    gap: 10px;
    
    width: 800px;
}

.box {
    background: white;
    padding: 5px;
    margin: 5px;
    flex: 1;
    border-top: 3px solid #4a8dc4;
    text-align: left;
    font-family: 'Rambla', sans-serif;
}

.box h3 {
    font-size: 1.2em;
    padding: 3px;
    color: rgb(77, 77, 77);
    margin-bottom: 10px;
    font-weight: 100;
}

.box p {
    font-size: 13px;
    color: rgb(77, 77, 77);
    margin-bottom: 10px;
    font-weight: 100;
}

.box a {
    color: #306998;
    text-decoration: none;
    font-size: 13px;
}


footer {
    text-align: center;
    padding: 15px 0;
    background-color: #2b5b84;
    color: rgb(136, 168, 227);
    font-size:xx-small;
    margin-top: 20px;
    width: 100vw;
}

footer pre{
    text-align: center;
    padding: 5px 0;
    background-color: #2b5b84;
    color: rgb(136, 168, 227);
    font-size: small;
    margin-top: 20px;
}

footer p:hover, footer pre:hover{
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    body, .container, .custom-nav ul {
        max-width: 100%;
        padding: 10px;
    }

    .cta {
        width: 90%;
    }
}